/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.DS_Store

# ignore IDE folders
.vscode/
.idea/
cmd/provider/__debug*
cmd/generator/__debug*
cmd/managedshim/__debug*
.env
kubeconfig
.datasource.yaml

